body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header{
	background: #3498db;
    box-shadow: 0 -3px #9fc6e0 inset;
    padding: 40px 0;
}

/*BOARDS*/
.category{
    position: relative;
    margin: 6px 0 -7px 6px;
}
.category .bar {
    width: 10px;
    height: calc(100% - 4px);
    background-color: #ded3e9;
    border-radius: 3px;
    position: absolute;
}
.board {
    width: 100%;
    height: 66px;
    background-color: #e6e6e6;
    border: 1px solid #d8d7d2;
    margin: 0 0 5px 15px;
    border-radius: 3px;
    float: left;
}

.board .icon {
    width: 66px;
    height: 66px;
    float: left;
    background-position: 50%;
    background-repeat: no-repeat;
}
.board span{
    display: table-cell;
    vertical-align: middle;
}
.board span a{
    color: #151515;
    font-weight: 600;
    font-size: 18px;
}
.board .info {
    height: 66px;
    display: table;
    float: left;
}
.board .description{
    font-size: 14px;
}

/*topics*/

.btn.grey {
    background-color: #bdbdbd;
    color: #fff;
}
.btn.indigo {
    background-color: #5c6bc0;
    color: #fff;
}
.btn.grey.on, .btn.grey:active, .btn.grey:hover {
    background-color: #9e9e9e;
}
#content{
    padding: 0 6px 6px 0;
    background: #f2f2f2;
    border-radius: 4px;
    overflow: hidden;
    padding: 5px;
}
.topic {
    width: 100%;
    height: 72px;
    margin: 3px 0;
    border-radius: 3px;
    float: left;
    background-color: #e6e6e6;
    border: 1px solid #d8d7d2;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.topic .box {
    height: 66px;
    margin-left: 10px;
    float: left;
    padding: 10px;
}
.topic .box a {
    color: #000;
    font-size: 16px;
    font-weight: 600;
}
.topic .box span .description {
    font-size: 14px;
    font-weight: 400;
    margin-top: -3px;
}

/*Topic*/
.message {
    min-height: 245px;
    background: #fff;
    margin: 6px 0 0 6px;
    border: 1px solid #ccc;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}
.message>.account {
    width: 225px!important;
    height: calc(100% + 2px);
    margin: -1px 0 -1px -1px;
    background-color: #f5f5f5;
    border: 1px solid #d8d7d2;
    border-radius: 0;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    font-size: 14px;
    font-weight: 600;
    position: absolute;
}
.message>.account>.avatar {
    height: 70px;
    width: 70px;
    margin: -1px 10px 0 -1px;
    border-radius: 100%;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%!important;
    float: left;
}
.message>.account>.nick{
    width: 129px;
    height: 69px;
    display: table;
    float: left;
}
.message > .account > .nick > span {
    display: table-cell;
    vertical-align: middle;
}
.account >.nick > span > h1 > a{
    color: #000;
    font-size: 14px;
    display: inline;
    font-weight: 400;
}
.account > .box{
    width: 211px;
    margin: 6px 0 0 6px;
    text-align: center;
    color: #fff;
    text-shadow: none;
    padding: 8px 12px;
    border-radius: 3px;
    display: inline-block;
    opacity: .65;
    background-color: #fff;
}
.message>.body {
    margin: 0 0 0 224px;
    padding: 6px;
    text-align: justify!important;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}
.message>.body.text {
    border-bottom: none;
    overflow-x: auto;
}

.bbcode{
    margin: 8px 8px 8px;
}

/*Error input*/
.error-input{
    border: 1.5px solid #ff4c4c;
}

/*Footer*/
footer {
    font-family: "Segoe UI";
    background: #e9ebec;
    padding: 12px 0;
    border-top: 1px solid #bebebe;
    display: block;
    font-size: 12px;
}
footer, footer a {
    color: #17191c;
}

/*User Head template*/
header .avatar {
    float: left;
    margin-right: 15px;
    width: 84px;
    height: 84px;
}
header ul.reset {
    text-align: left;
    padding: 0;
    margin: 0;
    list-style: none;
}
header ul.reset li.user {
    font-size: 16px;
    font-weight: bold;
}
header ul.reset li, header ul.reset li a {
    color: #FFF;
    font-family: "Segoe UI";
    font-size: 12px;
}