body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}
*{
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.header{
	background: #3498db;
    box-shadow: 0 -3px #9fc6e0 inset;
    padding: 40px 0;
}

/*BOARDS*/
.category{
    position: relative;
    margin: 6px 0 -7px 6px;
}
.category .bar {
    width: 10px;
    height: calc(100% - 4px);
    background-color: #ded3e9;
    border-radius: 3px;
    position: absolute;
}
.board {
    width: 100%;
    height: 66px;
    background-color: #e6e6e6;
    border: 1px solid #d8d7d2;
    margin: 0 0 5px 15px;
    border-radius: 3px;
    float: left;
}

.board .icon {
    width: 66px;
    height: 66px;
    float: left;
    background-position: 50%;
    background-repeat: no-repeat;
}
.board span{
    display: table-cell;
    vertical-align: middle;
}
.board span a{
    color: #151515;
    font-weight: 600;
    font-size: 18px;
}
.board .info {
    height: 66px;
    display: table;
    float: left;
}
.board .description{
    font-size: 14px;
}

/*Footer*/
footer {
    font-family: "Segoe UI";
    background: #e9ebec;
    padding: 12px 0;
    border-top: 1px solid #bebebe;
    display: block;
    font-size: 12px;
}
footer, footer a {
    color: #17191c;
}