body {
    background: #83a4d4;
    font-family: Raleway, sans-serif;
    color: #666;
}

.login {
    margin: 20px auto;
    padding: 40px 50px;
    max-width: 300px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 1px 1px 1px #666;
}
.login input {
    width: 100%;
    display: block;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 14px 12px;
    font-size: 16px;
    border-radius: 2px;
    font-family: Raleway, sans-serif;
}

.login input[type=text],
.login input[type=password] {
    border: 1px solid #c0c0c0;
    transition: .2s;
}

.login input[type=text]:hover {
    border-color: #F44336;
    outline: none;
    transition: all .2s ease-in-out;
}

.login input[type=submit] {
    border: none;
    background: #EF5350;
    color: white;
    font-weight: bold;
    transition: 0.2s;
    margin: 20px 0px;
}

.login input[type=submit]:hover {
    background: #F44336;
}

.login h2 {
    margin: 20px 0 0;
    color: #EF5350;
    font-size: 28px;
}
.error-input{
    border: 1.5px solid red!important;
}
.error-msg {
    font-size: 12px;
    background-color: #ff7777;
    padding: 10px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
}